.main1{
    background-color: black;
    width: auto;
    height: 100%;
}
.NAWABEE{
    color: orangered;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.NAWABEE1{
    color: orangered;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 100px;
}
.main2{
    display: flex;
    justify-content: space-evenly;
} 
.img{
    width: 35%;
    height: 35%;
    margin-bottom: 50px;
    margin-left: 20px;
}
.ptag{
    color: white;
    font-size: 20px;
    margin-left: 50px;
}
.ptag1{
    color: white;
    font-size: 20px;
}